/* BACKGROUNDS */
.backgroundOrange {
    background: #f09837;
}
.backgroundRed {
    background: #eb4e3d;
}
.backgroundGreen {
    background: #74d471;
}
.backgroundBlue {
    background: #2f7bf5;
}
.backgroundBlueLight {
    background: #60a2f8;
}
.backgroundPurple {
    background: #5559cd;
}
.backgroundWhite {
    background: #fefefe;
}
.backgroundDarkWhite {
    background: #eeedf2;
}
.backgroundBlack {
    background: #000000;
}
.backgroundBlackLight {
    background: #1d1d1d;
}
.backgroundGrayLight {
    background: #c7c5ca;
}
.backgroundGray {
    background: #a0a0a1;
}
.backgroundGray2 {
    background: #919191;
}

/* TEXTS */
.textOrange {
    color: #f09837;
}
.textRed {
    color: #eb4e3d;
}
.textGreen {
    color: #74d471;
}
.textBlue {
    color: #2f7bf5;
}
.textBlueLight {
    color: #60a2f8;
}
.textPurple {
    color: #5559cd;
}
.textWhite {
    color: #fefefe;
}
.textDarkWhite {
    color: #eeedf2;
}
.textBlack {
    color: #000000;
}
.textGrayLight {
    color: #c7c5ca;
}
.textGray {
    color: #a0a0a1;
}
.textGray2 {
    color: #919191;
}

.horizonBackgroundSmooth {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#040937+0,0f1a7b+24,121f85+38,1c3199+50,2842a7+64,4470bf+78,6795c7+90,88adcd+100 */
    background: rgb(4,9,55); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(4,9,55,1) 0%, rgba(15,26,123,1) 24%, rgba(18,31,133,1) 38%, rgba(28,49,153,1) 50%, rgba(40,66,167,1) 64%, rgba(68,112,191,1) 78%, rgba(103,149,199,1) 90%, rgba(136,173,205,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(4,9,55,1) 0%,rgba(15,26,123,1) 24%,rgba(18,31,133,1) 38%,rgba(28,49,153,1) 50%,rgba(40,66,167,1) 64%,rgba(68,112,191,1) 78%,rgba(103,149,199,1) 90%,rgba(136,173,205,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(4,9,55,1) 0%,rgba(15,26,123,1) 24%,rgba(18,31,133,1) 38%,rgba(28,49,153,1) 50%,rgba(40,66,167,1) 64%,rgba(68,112,191,1) 78%,rgba(103,149,199,1) 90%,rgba(136,173,205,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040937', endColorstr='#88adcd',GradientType=0 ); /* IE6-9 */
}

.horizonBackground {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#040937+0,1c3199+50,4470bf+78,6795c7+90,88adcd+100 */
    background: rgb(4,9,55); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(4,9,55,1) 0%, rgba(28,49,153,1) 50%, rgba(68,112,191,1) 78%, rgba(103,149,199,1) 90%, rgba(136,173,205,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(4,9,55,1) 0%,rgba(28,49,153,1) 50%,rgba(68,112,191,1) 78%,rgba(103,149,199,1) 90%,rgba(136,173,205,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(4,9,55,1) 0%,rgba(28,49,153,1) 50%,rgba(68,112,191,1) 78%,rgba(103,149,199,1) 90%,rgba(136,173,205,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040937', endColorstr='#88adcd',GradientType=0 ); /* IE6-9 */
}

.horizonBackground0 {
    background: linear-gradient(to bottom, rgba(4,9,55,1) 0%,rgba(28,49,153,1) 50%,rgba(68,112,191,1) 78%,rgba(103,149,199,1) 90%,rgba(136,173,205,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.horizonBackground1 {
    background: linear-gradient(to bottom, rgb(55, 5, 5) 0%, rgb(153, 22, 22) 50%, rgb(191, 102, 79) 78%, rgb(199, 181, 155) 90%,rgba(136,173,205,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}