html, body {
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: linear-gradient(rgb(0, 0, 0), rgb(22, 22, 22));
}

body>.bootVersion {
  position: absolute;
  bottom: 16px;
  right: 20px;
  color: #fff;
  opacity: .3;
  font-size: 10px;
}

#workspaceContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow-x: auto;
  overflow-y: auto;
  opacity: 1;
  /* TODO: fix - animation of background seems to be a little bit trebles at the load end. */
  transition: .5s cubic-bezier(0, .97, .83, 1);
  /* http://cubic-bezier.com/#0,.97,.83,1 */
}

#workspaceContainer.hidden {
  opacity: 0;
}

#workspace {
  display: block;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#workspace>.element {
  position: absolute;
  display: block;
  padding: 0;
  text-align: center;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 7px;
  border: 1px solid transparent;
  /*transition: .1s ease;*/
  transition: .5s cubic-bezier(0, .99, .1, 1);
  opacity: 1;
  visibility: visible;
}

#workspace>.element.noAnimation {
  transition: none;
}

#workspace>.element.longAnimation {
  transition: .5s cubic-bezier(0, .99, .1, 1);
}

#workspace>.element.hidden {
  opacity: 0;
  visibility: hidden;
}

#workspace>.element:hover {
  background: rgba(255, 255, 255, .03);
  border: 1px solid rgba(255, 255, 255, 0.04);
}

#workspace>.element.active {
  background: rgba(255, 255, 255, .1);
  border: 1px solid rgba(255, 255, 255, 0.13);
}

#workspace>.element>.icon {
  display: block;
  width: 100%;
  background-size: 55% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  padding-top: 2px;
  opacity: .9;
}

#workspace>.element.doubleTitle>.icon {
  margin-top: -1px;
  margin-bottom: -2px;
}

#workspace>.element>.title {
  display: block;
  line-height: 20px;
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 2px;
  text-shadow: 0px 0px 19px rgba(0, 0, 0, 0.9)
}

#workspace>.element.doubleTitle>.title {
  line-height: 12px;
  font-size: 11px;
}

#workspace>.element>.title, #workspace>.element>.icon {
  transition: .1s ease;
  opacity: .9;
}

#workspace>.element.active>.title, #workspace>.element.active>.icon {
  opacity: 1;
}

#workspace>.window {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  opacity: 1;
  z-index: 1;
  background: rgba(224, 224, 224, 0.99);
  border-radius: 5px;
  /*backdrop-filter: blur(25px) contrast(40%);*/
  /*-webkit-backdrop-filter: blur(25px) contrast(40%);*/
  box-shadow: 0 8px 60px -19px rgba(0, 0, 0, 0.3);
  transition: .2s cubic-bezier(0, .97, .83, 1);
  /*transition: .4s cubic-bezier(0,0,0,1);*/
  transform: scale(1);
}

#workspace>.window.hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(.9);
  transition: .07s ease;
}

#workspace>.window.noAnimation {
  transition: none;
}

#workspace>.window>.controlBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  transition: .1s ease;
}

#workspace>.window.focused>.controlBar {
  background: rgba(255, 255, 255, 0.2);
}

#workspace>.window div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#workspace>.window>.controlBar>.windowIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  cursor: default;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: -5px;
  opacity: 0.4;
  transition: .3s ease;
}

#workspace>.window.focused>.controlBar>.windowIcon {
  opacity: 1;
}

#workspace>.window>.controlBar>.windowTitle {
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #000;
  margin-left: 12px;
  font-weight: 400;
  opacity: .5;
  cursor: default;
  transition: .3s ease;
}

#workspace>.window.focused>.controlBar>.windowTitle {
  opacity: .75;
}

#workspace>.window>.controlBar>.appControls {
  display: inline-block;
  float: right;
  width: 80px;
  height: 40px;
  margin-right: 15px;
  text-align: right;
}

#workspace>.window>.controlBar>.appControls>.circle {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 20px;
  border: 1px solid #000;
  margin: 12px 0 0 10px;
  transition: .2s ease;
  opacity: .5;
  /*-webkit-filter: contrast(70%);*/
}

#workspace>.window.focused>.controlBar>.appControls>.circle {
  opacity: 1;
  /*-webkit-filter: contrast(100%);*/
}

#workspace>.window>.controlBar>.appControls>.circle:hover {
  opacity: 1 !important;
  /*-webkit-filter: contrast(100%);*/
}

#workspace>.window>.controlBar>.appControls>.circle.expand {
  border-color: #65c162;
  background-color: #74d471;
}

#workspace>.window>.controlBar>.appControls>.circle.expand:hover {
  border-color: #69c966;
  background-color: #7be078;
}

#workspace>.window>.controlBar>.appControls>.circle.hide {
  border-color: #d58532;
  background-color: #f09837;
}

#workspace>.window>.controlBar>.appControls>.circle.hide:hover {
  border-color: #dd8a34;
  background-color: #fa9f39;
}

#workspace>.window>.controlBar>.appControls>.circle.close {
  border-color: #d24737;
  background-color: #eb4e3d;
}

#workspace>.window>.controlBar>.appControls>.circle.close:hover {
  border-color: #da4939;
  background-color: #ff5341;
}

#workspace>.window>.topBorder, #workspace>.window>.bottomBorder {
  position: absolute;
  cursor: ns-resize;
  left: 0;
  right: 0;
  height: 8px;
  z-index: 2;
}

#workspace>.window>.topBorder {
  top: -4px;
}

#workspace>.window>.bottomBorder {
  bottom: -4px;
}

#workspace>.window>.rightBorder, #workspace>.window>.leftBorder {
  position: absolute;
  cursor: ew-resize;
  top: 0;
  bottom: 0;
  width: 8px;
  z-index: 2;
}

#workspace>.window>.rightBorder {
  right: -4px;
}

#workspace>.window>.leftBorder {
  left: -4px;
}

#workspace>.window>.topRightCorner, #workspace>.window>.bottomRightCorner, #workspace>.window>.bottomLeftCorner, #workspace>.window>.topLeftCorner {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  z-index: 3;
}

#workspace>.window>.topRightCorner {
  top: -6px;
  right: -6px;
  cursor: nesw-resize;
}

#workspace>.window>.bottomRightCorner {
  bottom: -6px;
  right: -6px;
  cursor: nwse-resize;
}

#workspace>.window>.bottomLeftCorner {
  bottom: -6px;
  left: -6px;
  cursor: nesw-resize;
}

#workspace>.window>.topLeftCorner {
  top: -6px;
  left: -6px;
  cursor: nwse-resize;
}

#workspace>.window>.content {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#workspace>.window>.content>iframe {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  opacity: 1;
  transition: .2s ease;
}

#workspace>.window>.content>iframe.hidden {
  visibility: hidden;
  opacity: 0;
}

#workspace>.window>.devControls {
  position: absolute;
  right: -210px;
  top: 0;
  width: 200px;
  height: 300px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.82);
  border-radius: 5px;
  backdrop-filter: blur(15px) contrast(40%);
  -webkit-backdrop-filter: blur(15px) contrast(40%);
  visibility: visible;
}

#workspace>.window>.devControls.hidden {
  visibility: hidden;
  opacity: 0;
}

#workspace>#dock {
  position: absolute;
  left: 50%;
  bottom: 10px;
  height: 80px;
  width: 1000px;
  margin-left: -500px;
  /*background: rgba(255, 255, 255, 0.99);*/
  background: rgba(233, 233, 233, 0.99);
  border-radius: 15px;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -17px;
  margin-left: -150px;
  width: 300px;
  height: 35px;
  z-index: 3;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#loader>.bar {
  display: block;
  width: 100%;
  height: 5px;
  border: 1px solid #fff;
  border-radius: 10px;
  opacity: .8;
}

#loader>.bar>.fill {
  display: inline-block;
  width: 0;
  height: 100%;
  background: #fff;
  transition: .1s ease;
  border-radius: 10px;
}

#loader>.title, #systemLoader>.title {
  display: block;
  width: 100%;
  height: 14px;
  line-height: 14px;
  text-align: center;
  margin-top: 15px;
}

#systemLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -65px;
  margin-left: -150px;
  width: 300px;
  height: 130px;
  z-index: 3;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#systemLoader>.spinner {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../gifs/spinner-4.8s-100px-fff-000@2x.gif") center center no-repeat;
  background-size: contain;
}

#horizonSignIn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 540px;
  background: #0f0f0f;
  margin: -270px 0 0 -175px;
  border-radius: 20px;
  padding: 0 50px;
  transition: .1s ease;
  /*border: 1px solid #000000;*/
}

#horizonSignIn.hidden {
  opacity: 0;
  visibility: hidden;
}

#horizonSignIn>h1 {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 40px;
  margin: 60px 0 0 0;
  font-weight: 600;
  color: #eeedf2;
  opacity: .9;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#horizonSignIn>p {
  display: block;
  width: 100%;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  margin: 20px 0 50px 0;
  font-weight: 300;
  color: #eeedf2;
  opacity: .9;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#horizonSignIn>h6 {
  display: block;
  width: 100%;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  margin: 0 0 20px 0;
  font-weight: 500;
  opacity: .2;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#horizonSignIn>h6.password {
  margin-top: 40px;
}

#horizonSignIn>input {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  background: #1b1b1b;
  border-radius: 6px;
  color: #eeedf2;
  outline: none;
  border: 1px solid #1e1e1e;
  padding: 0 15px;
  transition: .2s ease;
}

#horizonSignIn>input:disabled {
  color: #b6b6ba;
}

#horizonSignIn>input:hover {
  background: #1d1d1d;
}

#horizonSignIn>div#errorMessage {
  color: #ff4848;
  margin: 34px 0 -44px 0;
  visibility: visible;
  height: 20;
  opacity: 1;
  transition: .2s ease;
}

#horizonSignIn>div#errorMessage.hidden {
  color: #ff4848;
  margin: 34px 0 -44px 0;
  visibility: hidden;
  height: 0;
  opacity: 0;
}

#horizonSignIn>div#signinSubmit {
  display: inline-block;
  width: auto;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  padding: 10px 45px 10px 20px;
  background: #1a1a1a;
  margin: 60px 0 0 0;
  cursor: default;
  border-radius: 20px;
  transition: .2s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#horizonSignIn>div#signinSubmit:hover {
  background: #252525;
  padding-left: 30px;
}

#horizonSignIn>div#signinSubmit:active {
  background: #1a1a1a;
  padding-left: 20px;
  opacity: .8;
}

#horizonSignIn>div#signinSubmit.hidden {
  opacity: 0;
  transition: .1s ease;
  visibility: hidden;
  padding-left: 20px;
}

#horizonSignIn>div#signinSubmit.disabled {
  background: #1a1a1a !important;
  opacity: .3 !important;
  padding-left: 20px !important;
}

#horizonSignIn>div#signinSubmit>div {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#horizonSignIn>div#signinSubmit>.image {
  position: absolute;
  background: url("../icons/right-arrow-filled-45-fff@2x.png") center center no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

#horizonSignIn>.spinner {
  position: absolute;
  background: url("../gifs/spinner-0.7s-32px-fff-0f0f0f@2x.gif") center center no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  transition: .3s ease;
  margin: 60px 0 0 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#horizonSignIn>.spinner.hidden {
  opacity: 0;
  visibility: hidden;
  margin-left: 10px;
}

#uiDeveloperPanel {
  position: absolute;
  top: 50px;
  right: 40px;
  bottom: 50px;
  width: 100px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.95);
  opacity: 1;
  transition: .5s ease;
  z-index: 99;
  text-align: center;
  padding-top: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  overflow-y: auto;
}

#uiDeveloperPanel.hidden {
  visibility: hidden;
  opacity: 0;
}

#uiDeveloperPanel>.item {
  width: 75px;
  height: 75px;
  text-align: center;
  display: inline-block;
  background: rgba(0, 0, 0, 0);
  margin-bottom: 10px;
  border-radius: 10px;
  opacity: .85;
  transition: .15s ease;
}

#uiDeveloperPanel>.item:hover {
  background: rgba(0, 0, 0, 0.05);
  opacity: 1;
}

#uiDeveloperPanel>.item:active {
  transform: scale(.9);
  opacity: .7;
  transition: .1s ease;
  background: rgba(0, 0, 0, 0.05);
}

#uiDeveloperPanel>.item>.icon {
  width: 25px;
  height: 25px;
  background-size: 100% 100%;
  display: inline-block;
  margin-top: 11px;
  opacity: .9;
}

#uiDeveloperPanel>.item>.icon.mdi {
  width: 25px;
  height: 25px;
  color: #000;
  font-size: 22px;
}

#uiDeveloperPanel>.item>.name {
  color: #000;
  font-size: 10px;
  line-height: 11px;
  margin-top: 5px;
  width: 80%;
  display: inline-block;
}

#uiDeveloperPanel>.item.add>.icon {
  font-size: 26px;
}

#uiDeveloperPanel>.item.play>.icon.mdi {
  font-size: 26px;
}

#uiDeveloperPanel>.item.terminal>.icon {
  font-size: 23px;
}

#uiDeveloperPanel>.item.language>.icon {
  background: url("../icons/translation-45-fff@2x.png") center center no-repeat;
  background-size: 100%;
}
